---
# Ejercicio

##  Objetivo
<br>Realizar la preparaci贸n de datos de la Encuesta anual de hogares realizada en todo el territorio de la Ciudad de Buenos Aires, Argentina en el 2019.
<br>Pr谩cticamente vas a acondicionar el dataset para que te quede listo para buscar correlaciones o entrenar alg煤n modelo de Machine Learning.

El dataset proviene del Open Data del Gobierno de Buenos Aires: [Encuesta anual de hogares 2019](https://data.buenosaires.gob.ar/dataset/encuesta-anual-hogares)

##### Importaci贸n de Librer铆as

In [81]:
import os
import sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import funpymodeling
#from funpymodeling.exploratory import freq_tbl
from funpymodeling.exploratory import freq_tbl, status

In [2]:
# Visualizaci贸n completa de datos de los dataframes
pd.options.display.width = 0
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [3]:
print(os.getcwd())
os.chdir('c:\\Users\\MiltonCesar\\WS_Proyectos_DS_IA\\EDVAI-Bootcamp-DS-MLOps')
ruta = os.getcwd()
print(f"\nRuta Proyecto: {ruta}")

c:\Users\MiltonCesar\WS_Proyectos_DS_IA\EDVAI-Bootcamp-DS-MLOps\notebooks

Ruta Proyecto: c:\Users\MiltonCesar\WS_Proyectos_DS_IA\EDVAI-Bootcamp-DS-MLOps

## 1. COMPRENSIN DEL NEGOCIO

##### Importaci贸n de Datos

In [4]:
# Importacion de Datos
df_data = pd.read_csv(ruta + '/data/Sem03-Tar01-encuesta-anual-hogares-2019.csv', sep=',')
print(f"Tamanio: {str(df_data.shape)} \n")
df_data.head()

Tamanio: (14319, 31)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
0,1,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No,No corresponde
1,1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No,No corresponde
2,2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,NaN,No corresponde
3,2,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,Si,2
4,2,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,NaN,No corresponde

In [8]:
#df_data.columns

In [6]:
df_data.dtypes

id                              int64
nhogar                          int64
miembro                         int64
comuna                          int64
dominio                        object
edad                            int64
sexo                           object
parentesco_jefe                object
situacion_conyugal             object
num_miembro_padre              object
num_miembro_madre              object
estado_ocupacional             object
cat_ocupacional                object
calidad_ingresos_lab           object
ingreso_total_lab               int64
calidad_ingresos_no_lab        object
ingreso_total_no_lab            int64
calidad_ingresos_totales       object
ingresos_totales                int64
calidad_ingresos_familiares    object
ingresos_familiares             int64
ingreso_per_capita_familiar     int64
estado_educativo               object
sector_educativo               object
nivel_actual                   object
nivel_max_educativo            object
a帽os_escolaridad               object
lugar_nacimiento               object
afiliacion_salud               object
hijos_nacidos_vivos            object
cantidad_hijos_nac_vivos       object
dtype: object

In [7]:
# Valores Nulos (Dataset Original)
df_data.isnull().sum()

id                                0
nhogar                            0
miembro                           0
comuna                            0
dominio                           0
edad                              0
sexo                              0
parentesco_jefe                   0
situacion_conyugal                1
num_miembro_padre                 0
num_miembro_madre                 0
estado_ocupacional                0
cat_ocupacional                   0
calidad_ingresos_lab              0
ingreso_total_lab                 0
calidad_ingresos_no_lab           0
ingreso_total_no_lab              0
calidad_ingresos_totales          0
ingresos_totales                  0
calidad_ingresos_familiares       0
ingresos_familiares               0
ingreso_per_capita_familiar       0
estado_educativo                  0
sector_educativo                  3
nivel_actual                      0
nivel_max_educativo            1054
a帽os_escolaridad                 62
lugar_nacimiento                  1
afiliacion_salud                  4
hijos_nacidos_vivos            7784
cantidad_hijos_nac_vivos          0
dtype: int64

In [10]:
df_data['id'] = df_data['id'].astype(str)
df_data['nhogar'] = df_data['nhogar'].astype(str)
df_data['miembro'] = df_data['miembro'].astype(str)
df_data['comuna'] = df_data['comuna'].astype(str)

# Nota: 
# La variable "a帽os_escolaridad" es una variable numerica, pero tiene un valor "Ningun a帽o de escolaridad aprobado"
# se podria convertir a numerica discreta cambiando el valor de texto a valor CERO.
#df_data['a帽os_escolaridad'] = df_data['a帽os_escolaridad'].astype(int)

In [12]:
# Valores Nulos (Dataset Actualizado)
df_data.isnull().sum()

id                                0
nhogar                            0
miembro                           0
comuna                            0
dominio                           0
edad                              0
sexo                              0
parentesco_jefe                   0
situacion_conyugal                1
num_miembro_padre                 0
num_miembro_madre                 0
estado_ocupacional                0
cat_ocupacional                   0
calidad_ingresos_lab              0
ingreso_total_lab                 0
calidad_ingresos_no_lab           0
ingreso_total_no_lab              0
calidad_ingresos_totales          0
ingresos_totales                  0
calidad_ingresos_familiares       0
ingresos_familiares               0
ingreso_per_capita_familiar       0
estado_educativo                  0
sector_educativo                  3
nivel_actual                      0
nivel_max_educativo            1054
a帽os_escolaridad                 62
lugar_nacimiento                  1
afiliacion_salud                  4
hijos_nacidos_vivos            7784
cantidad_hijos_nac_vivos          0
dtype: int64

## 2. COMPRENSIN DE LOS DATOS

## 3. PREPARACIN DE LOS DATOS

In [15]:
df_data_prep = df_data.copy()

---
##  Consigna 1

### 3.1 Eliminaci贸n de Variables

**_2) Inspecci贸n inicial_**

Eliminen las columnas `id` y `hijos_nacidos_vivos`

In [16]:
df_data_prep.drop(['id','hijos_nacidos_vivos'], axis=1, inplace=True)
print(f"Tamanio: {str(df_data_prep.shape)} \n")

Tamanio: (14319, 29)

### 3.2 Transformaci贸n de Variables

**_3) Discretizaci贸n_**

- Para las siguientes columnas discreticen por igual frecuencia e igual rango.
    <br>`ingresos_familiares` con q=8
    <br>`ingreso_per_capita_familiar` con q=10

- En algunas situaciones hay ciertos elementos que se repiten al momento de discretizar, una forma de eliminar duplicados es con el argumento `duplicates='drop'`.
    <br><br>Para las siguientes columnas `ingreso_total_lab` y `ingreso_total_no_lab` consideren:
    ```
    data['ingreso_total_lab'] = pd.qcut(data['ingreso_total_lab'], q=10, duplicates='drop')
    data['ingreso_total_no_lab'] = pd.qcut(data['ingreso_total_no_lab'], q=4, duplicates='drop')
    ```

- Para la columna `edad` discreticen usando igual distancia con `bins=5`.

In [23]:
var_num = 'ingresos_familiares'
n_bins = 8
df_data_prep[var_num + "_cat"] = pd.qcut(df_data_prep[var_num], q=n_bins)
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]"

  ingresos_familiares_cat  count
3       (-0.001, 20800.0]   1796
2      (20800.0, 30000.0]   1810
1      (30000.0, 42000.0]   1841
6      (42000.0, 54000.0]   1721
0      (54000.0, 70000.0]   1905
5      (70000.0, 90000.0]   1781
7     (90000.0, 124000.0]   1677
4   (124000.0, 1000000.0]   1788

In [24]:
var_num = 'ingreso_per_capita_familiar'
n_bins = 10
df_data_prep[var_num + "_cat"] = pd.qcut(df_data_prep[var_num], q=n_bins)
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]"

  ingreso_per_capita_familiar_cat  count
3                (-0.001, 5400.0]   1434
6                (5400.0, 8700.0]   1431
1               (8700.0, 12000.0]   1554
8              (12000.0, 15016.0]   1309
4              (15016.0, 19900.0]   1432
2              (19900.0, 24000.0]   1460
0              (24000.0, 30000.0]   1594
9              (30000.0, 38300.0]   1243
7              (38300.0, 52340.0]   1430
5            (52340.0, 1000000.0]   1432

In [25]:
var_num = 'ingreso_total_lab'
n_bins = 10
df_data_prep[var_num + "_cat"] = pd.qcut(df_data_prep[var_num], q=n_bins, duplicates='drop')
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]"

  ingreso_total_lab_cat  count
0      (-0.001, 2500.0]   7168
1     (2500.0, 15000.0]   1499
4    (15000.0, 25000.0]   1397
2    (25000.0, 37000.0]   1431
5    (37000.0, 56000.0]   1397
3  (56000.0, 1000000.0]   1427

In [26]:
var_num = 'ingreso_total_no_lab'
n_bins = 4
df_data_prep[var_num + "_cat"] = pd.qcut(df_data_prep[var_num], q=n_bins, duplicates='drop')
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat,ingreso_total_no_lab_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]","(4000.0, 500000.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]"

  ingreso_total_no_lab_cat  count
0         (-0.001, 4000.0]  10741
1       (4000.0, 500000.0]   3578

In [28]:
var_num = 'edad'
n_bins = 5
df_data_prep[var_num + "_cat"] = pd.cut(df_data_prep[var_num], bins=n_bins)
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat,ingreso_total_no_lab_cat,edad_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]","(4000.0, 500000.0]","(40.0, 60.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]"

        edad_cat  count
1   (-0.1, 20.0]   3669
0   (20.0, 40.0]   4204
2   (40.0, 60.0]   3452
3   (60.0, 80.0]   2448
4  (80.0, 100.0]    546

### 3.3 Creaci贸n de Variables

**_4) Preparaci贸n de datos_**
- Cambien el tipo de dato a `str` de las siguientes columnas: `comuna` y `nhogar`.
  <br>_驴Por qu茅 hacemos esto?_ Para estas columnas el n煤mero es simplemente una connotaci贸n, para representar una comuna por ejemplo pero no hay una relaci贸n num茅rica entre ellos.

- _驴Qu茅 esperas como valor en la columna `a帽os_escolaridad`?_ N煤mero enteros pero no siempre es as铆, cada entidad o empresa tiene diferentes formas de rellenar una encuesta.
    <br>Evalua lo siguiente: `data['a帽os_escolaridad'].unique()`, vas a poder ver los valores 煤nicos en la columna. Donde destacamos que todos son `object/string`.

- Reemplazar `Ningun a帽o de escolaridad aprobado` por un '0'. 
<br>Efectivamente por '0' y no 0, porque esta columna maneja datos tipo `object/string`.
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].replace('Ningun a帽o de escolaridad aprobado', '0')
    ```

- Vamos a convertir los tipos de datos de la columna anterior `a帽os_escolaridad` a enteros.
    <br>De manera intuitiva podr铆amos hacer:
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].astype(float).astype("Int32")
    ```
    PEROOOOOOO marca un error, 驴cierto?
    
    **Posiblemente muchas veces les pase que cuando hagan una _cast_ (conversi贸n de un tipo de dato a otro) pueden llegar a tener conflictos si esa columna tienen _NaN_.**
    
    **Para este caso si queremos convertir los valores de la columna `a帽os_escolaridad` de _string_ a _int_, hay que hacer un paso intermedio que es pasarlo a _float_.**
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].astype(float).astype("Int32")
    ```

- Discreticen para la columna `a帽os_escolaridad` por igual frecuencia e igual rango con un `q=5`

- No necesariamente siempre hay que rellenar los `NaN` en todas las columnas, porque quiz谩s esa cantidad de `NaN` no es tan representativa para nuestro an谩lisis. As铆 que podes eliminarlo para todo el dataframe o para ciertas columnas.
    ```
    # Eliminar filas que contengan NaN
    data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])
    ```
- Despu茅s de eliminar filas, podes resetear el 铆ndice para que mantenga la secuencia:
    ```
    data = data.reset_index(drop=True)
    ```

- Rellenar los datos faltantes para la columna `a帽os_escolaridad`. Primero a帽adan la categor铆a `desconocido` y luego hacen un rellenado de los datos faltantes con `desconocido`.

- Rellenar los datos faltantes para la columna `nivel_max_educativo` con `value=desconocido`

- Cambien el tipo de dato a `str` de las siguientes columnas: `comuna` y `nhogar`.
  <br>_驴Por qu茅 hacemos esto?_ Para estas columnas el n煤mero es simplemente una connotaci贸n, para representar una comuna por ejemplo pero no hay una relaci贸n num茅rica entre ellos.

In [29]:
var_cat = 'comuna'
df_data_prep[var_cat] = df_data_prep[var_cat].astype(str)

In [30]:
var_cat = 'nhogar'
df_data_prep[var_cat] = df_data_prep[var_cat].astype(str)

In [32]:
df_data_prep.dtypes

nhogar                               object
miembro                              object
comuna                               object
dominio                              object
edad                                  int64
sexo                                 object
parentesco_jefe                      object
situacion_conyugal                   object
num_miembro_padre                    object
num_miembro_madre                    object
estado_ocupacional                   object
cat_ocupacional                      object
calidad_ingresos_lab                 object
ingreso_total_lab                     int64
calidad_ingresos_no_lab              object
ingreso_total_no_lab                  int64
calidad_ingresos_totales             object
ingresos_totales                      int64
calidad_ingresos_familiares          object
ingresos_familiares                   int64
ingreso_per_capita_familiar           int64
estado_educativo                     object
sector_educativo                     object
nivel_actual                         object
nivel_max_educativo                  object
a帽os_escolaridad                     object
lugar_nacimiento                     object
afiliacion_salud                     object
cantidad_hijos_nac_vivos             object
ingresos_familiares_cat            category
ingreso_per_capita_familiar_cat    category
ingreso_total_lab_cat              category
ingreso_total_no_lab_cat           category
edad_cat                           category
dtype: object

- _驴Qu茅 esperas como valor en la columna `a帽os_escolaridad`?_ N煤mero enteros pero no siempre es as铆, cada entidad o empresa tiene diferentes formas de rellenar una encuesta.
    <br>Evalua lo siguiente: `data['a帽os_escolaridad'].unique()`, vas a poder ver los valores 煤nicos en la columna. Donde destacamos que todos son `object/string`.

In [ ]:
var_num = 'a帽os_escolaridad'

print('Variable ' + var_num + " | Tipo de dato : " + str(df_data_prep[var_num].dtypes))
#df_data_prep[var_num].unique()
display(pd.DataFrame(df_data_prep[var_num].value_counts(dropna=False)).reset_index().sort_values(by=var_num))
print("\n")

- Reemplazar `Ningun a帽o de escolaridad aprobado` por un '0'. 
<br>Efectivamente por '0' y no 0, porque esta columna maneja datos tipo `object/string`.
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].replace('Ningun a帽o de escolaridad aprobado', '0')

In [ ]:
var_num = 'a帽os_escolaridad'

#df_data_prep[var_num] = df_data_prep[var_num].fillna({'Ningun a帽o de escolaridad aprobado':'0'}, inplace=True)
#df_data_prep[var_num] = df_data_prep[var_num].replace('Ningun a帽o de escolaridad aprobado', '0')
print("*"*100)
df_data_prep[var_num].replace('Ningun a帽o de escolaridad aprobado', '0', inplace=True)
display(pd.DataFrame(df_data_prep[var_num].value_counts(dropna=False)).reset_index().sort_values(by=var_num))

- Vamos a convertir los tipos de datos de la columna anterior `a帽os_escolaridad` a enteros.
    <br>De manera intuitiva podr铆amos hacer:
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].astype(float).astype("Int32")
    ```
    PEROOOOOOO marca un error, 驴cierto?
    
    **Posiblemente muchas veces les pase que cuando hagan una _cast_ (conversi贸n de un tipo de dato a otro) pueden llegar a tener conflictos si esa columna tienen _NaN_.**
    
    **Para este caso si queremos convertir los valores de la columna `a帽os_escolaridad` de _string_ a _int_, hay que hacer un paso intermedio que es pasarlo a _float_.**
    ```
    data['a帽os_escolaridad'] = data['a帽os_escolaridad'].astype(float).astype("Int32")

In [46]:
print("*"*100)
df_data_prep[var_num] = df_data_prep[var_num].astype(float).astype("Int32")
print('Variable ' + var_num + " | Tipo de dato : " + str(df_data_prep[var_num].dtypes))
display(pd.DataFrame(df_data_prep[var_num].value_counts(dropna=False)).reset_index().sort_values(by=var_num))

Variable a帽os_escolaridad | Tipo de dato : object

                      a帽os_escolaridad  count
18                                   1    196
8                                   10    539
10                                  11    451
0                                   12   2824
9                                   13    483
5                                   14    722
2                                   15   1498
12                                  16    334
1                                   17   1851
19                                  18    162
7                                   19    557
14                                   2    241
13                                   3    261
17                                   4    211
16                                   5    224
15                                   6    229
3                                    7   1263
11                                   8    397
6                                    9    588
4   Ningun a帽o de escolaridad aprobado   1226
20                                 NaN     62

****************************************************************************************************

   a帽os_escolaridad  count
4                 0   1226
18                1    196
8                10    539
10               11    451
0                12   2824
9                13    483
5                14    722
2                15   1498
12               16    334
1                17   1851
19               18    162
7                19    557
14                2    241
13                3    261
17                4    211
16                5    224
15                6    229
3                 7   1263
11                8    397
6                 9    588
20              NaN     62

****************************************************************************************************
Variable a帽os_escolaridad | Tipo de dato : Int32

    a帽os_escolaridad  count
4                  0   1226
18                 1    196
14                 2    241
13                 3    261
17                 4    211
16                 5    224
15                 6    229
3                  7   1263
11                 8    397
6                  9    588
8                 10    539
10                11    451
0                 12   2824
9                 13    483
5                 14    722
2                 15   1498
12                16    334
1                 17   1851
19                18    162
7                 19    557
20              <NA>     62

- Discreticen para la columna `a帽os_escolaridad` por igual frecuencia e igual rango con un `q=5`

In [47]:
var_num = 'a帽os_escolaridad'
n_bins = 5
df_data_prep[var_num + "_cat"] = pd.qcut(df_data_prep[var_num], q=n_bins)
display(df_data_prep.head())
print()
display(pd.DataFrame(df_data_prep[var_num + "_cat"].value_counts(dropna=False).reset_index().sort_values(by=var_num + "_cat")))

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat,ingreso_total_no_lab_cat,edad_cat,a帽os_escolaridad_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(11.0, 12.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]","(4000.0, 500000.0]","(40.0, 60.0]","(16.0, 19.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(7.0, 11.0]"

  a帽os_escolaridad_cat  count
0        (-0.001, 7.0]   3851
4          (7.0, 11.0]   1975
2         (11.0, 12.0]   2824
1         (12.0, 16.0]   3037
3         (16.0, 19.0]   2570
5                  NaN     62

- No necesariamente siempre hay que rellenar los `NaN` en todas las columnas, porque quiz谩s esa cantidad de `NaN` no es tan representativa para nuestro an谩lisis. As铆 que podes eliminarlo para todo el dataframe o para ciertas columnas.
    ```
    # Eliminar filas que contengan NaN
    data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])

In [52]:
pd.DataFrame(df_data_prep.isnull().sum()).reset_index().rename(columns={'index':'variable', 0:'cnt_reg_val_nulos'})

                           variable  cnt_reg_val_nulos
0                            nhogar                  0
1                           miembro                  0
2                            comuna                  0
3                           dominio                  0
4                              edad                  0
5                              sexo                  0
6                   parentesco_jefe                  0
7                situacion_conyugal                  1
8                 num_miembro_padre                  0
9                 num_miembro_madre                  0
10               estado_ocupacional                  0
11                  cat_ocupacional                  0
12             calidad_ingresos_lab                  0
13                ingreso_total_lab                  0
14          calidad_ingresos_no_lab                  0
15             ingreso_total_no_lab                  0
16         calidad_ingresos_totales                  0
17                 ingresos_totales                  0
18      calidad_ingresos_familiares                  0
19              ingresos_familiares                  0
20      ingreso_per_capita_familiar                  0
21                 estado_educativo                  0
22                 sector_educativo                  3
23                     nivel_actual                  0
24              nivel_max_educativo               1054
25                 a帽os_escolaridad                 62
26                 lugar_nacimiento                  1
27                 afiliacion_salud                  4
28         cantidad_hijos_nac_vivos                  0
29          ingresos_familiares_cat                  0
30  ingreso_per_capita_familiar_cat                  0
31            ingreso_total_lab_cat                  0
32         ingreso_total_no_lab_cat                  0
33                         edad_cat                  0
34             a帽os_escolaridad_cat                 62

In [53]:
# Eliminar filas que contengan NaN
# df_data_prep.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'], inplace=True)
df_data_prep = df_data_prep.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])

In [54]:
pd.DataFrame(df_data_prep.isnull().sum()).reset_index().rename(columns={'index':'variable', 0:'cnt_reg_val_nulos'})

                           variable  cnt_reg_val_nulos
0                            nhogar                  0
1                           miembro                  0
2                            comuna                  0
3                           dominio                  0
4                              edad                  0
5                              sexo                  0
6                   parentesco_jefe                  0
7                situacion_conyugal                  0
8                 num_miembro_padre                  0
9                 num_miembro_madre                  0
10               estado_ocupacional                  0
11                  cat_ocupacional                  0
12             calidad_ingresos_lab                  0
13                ingreso_total_lab                  0
14          calidad_ingresos_no_lab                  0
15             ingreso_total_no_lab                  0
16         calidad_ingresos_totales                  0
17                 ingresos_totales                  0
18      calidad_ingresos_familiares                  0
19              ingresos_familiares                  0
20      ingreso_per_capita_familiar                  0
21                 estado_educativo                  0
22                 sector_educativo                  0
23                     nivel_actual                  0
24              nivel_max_educativo               1053
25                 a帽os_escolaridad                 62
26                 lugar_nacimiento                  0
27                 afiliacion_salud                  0
28         cantidad_hijos_nac_vivos                  0
29          ingresos_familiares_cat                  0
30  ingreso_per_capita_familiar_cat                  0
31            ingreso_total_lab_cat                  0
32         ingreso_total_no_lab_cat                  0
33                         edad_cat                  0
34             a帽os_escolaridad_cat                 62

In [55]:
df_data_prep.head()

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat,ingreso_total_no_lab_cat,edad_cat,a帽os_escolaridad_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(11.0, 12.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]","(4000.0, 500000.0]","(40.0, 60.0]","(16.0, 19.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(7.0, 11.0]"

- Despu茅s de eliminar filas, podes resetear el 铆ndice para que mantenga la secuencia:
    ```
    data = data.reset_index(drop=True)

In [56]:
df_data_prep = df_data_prep.reset_index(drop=True)
df_data_prep.head()

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat,ingreso_per_capita_familiar_cat,ingreso_total_lab_cat,ingreso_total_no_lab_cat,edad_cat,a帽os_escolaridad_cat
0,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,6000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,12000,Tuvo ingresos y declara monto,18000,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(-0.001, 20800.0]","(8700.0, 12000.0]","(-0.001, 2500.0]","(4000.0, 500000.0]","(-0.1, 20.0]","(11.0, 12.0]"
2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(11.0, 12.0]"
3,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,No corresponde,Ocupado,Asalariado,Tuvo ingresos y declara monto,70000,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,100000,Tuvo ingresos pero no declara monto,100000,33333,No asiste pero asisti贸,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,2,"(90000.0, 124000.0]","(30000.0, 38300.0]","(56000.0, 1000000.0]","(4000.0, 500000.0]","(40.0, 60.0]","(16.0, 19.0]"
4,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,2,Inactivo,No corresponde,No tuvo ingresos,0,No tuvo ingresos,0,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,100000,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1掳 a 9掳 a帽o),10,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No corresponde,"(90000.0, 124000.0]","(30000.0, 38300.0]","(-0.001, 2500.0]","(-0.001, 4000.0]","(-0.1, 20.0]","(7.0, 11.0]"

- Rellenar los datos faltantes para la columna `a帽os_escolaridad`. Primero a帽adan la categor铆a `desconocido` y luego hacen un rellenado de los datos faltantes con `desconocido`.

In [64]:
var_cat = 'a帽os_escolaridad_cat'

print('Variable '+ var_cat + ' | Tipo de dato: ' + str(df_data_prep[var_cat].dtypes))
display(pd.DataFrame(df_data_prep[var_cat].value_counts(dropna=False).reset_index(name='cnt')))

Variable a帽os_escolaridad_cat | Tipo de dato: category

  a帽os_escolaridad_cat   cnt
0        (-0.001, 7.0]  3848
1         (12.0, 16.0]  3037
2         (11.0, 12.0]  2822
3         (16.0, 19.0]  2568
4          (7.0, 11.0]  1973
5                  NaN    62

In [71]:
print(df_data_prep[var_cat].cat.categories.values)

<IntervalArray>
[(-0.001, 7.0], (7.0, 11.0], (11.0, 12.0], (12.0, 16.0], (16.0, 19.0]]
Length: 5, dtype: interval[float64, right]

In [73]:
df_data_prep[var_cat] = df_data_prep[var_cat].cat.add_categories("desconocido")
print(df_data_prep[var_cat].cat.categories.values)

[Interval(-0.001, 7.0, closed='right') Interval(7.0, 11.0, closed='right')
 Interval(11.0, 12.0, closed='right') Interval(12.0, 16.0, closed='right')
 Interval(16.0, 19.0, closed='right') 'desconocido']

In [74]:
#df_data_prep[var_cat] = df_data_prep[var_cat].fillna(value="desconocido")
df_data_prep[var_cat].fillna(value="desconocido", inplace=True)

print('Variable '+ var_cat + ' | Tipo de dato: ' + str(df_data_prep[var_cat].dtypes))
display(pd.DataFrame(df_data_prep[var_cat].value_counts(dropna=False).reset_index(name='cnt')))

Variable a帽os_escolaridad_cat | Tipo de dato: category

  a帽os_escolaridad_cat   cnt
0        (-0.001, 7.0]  3848
1         (12.0, 16.0]  3037
2         (11.0, 12.0]  2822
3         (16.0, 19.0]  2568
4          (7.0, 11.0]  1973
5          desconocido    62

- Rellenar los datos faltantes para la columna `nivel_max_educativo` con `value=desconocido`

In [75]:
var_cat = 'nivel_max_educativo'

print('Variable '+ var_cat + ' | Tipo de dato: ' + str(df_data_prep[var_cat].dtypes))
display(pd.DataFrame(df_data_prep[var_cat].value_counts(dropna=False).reset_index(name='cnt')))

Variable nivel_max_educativo | Tipo de dato: object

         nivel_max_educativo   cnt
0     Secundario/medio comun  3670
1  Otras escuelas especiales  2570
2          EGB (1掳 a 9掳 a帽o)  2302
3          Primario especial  2192
4                  Sala de 5  1539
5                        NaN  1053
6             Primario comun   942
7             No corresponde    42

In [76]:
#df_data_prep[var_cat] = df_data_prep[var_cat].fillna(value="desconocido")
df_data_prep[var_cat].fillna(value="desconocido", inplace=True)

print('Variable '+ var_cat + ' | Tipo de dato: ' + str(df_data_prep[var_cat].dtypes))
display(pd.DataFrame(df_data_prep[var_cat].value_counts(dropna=False).reset_index(name='cnt')))

Variable nivel_max_educativo | Tipo de dato: object

         nivel_max_educativo   cnt
0     Secundario/medio comun  3670
1  Otras escuelas especiales  2570
2          EGB (1掳 a 9掳 a帽o)  2302
3          Primario especial  2192
4                  Sala de 5  1539
5                desconocido  1053
6             Primario comun   942
7             No corresponde    42

##  Respuesta esperada 1

In [79]:
respuesta_1 = pd.read_csv(ruta + "/data/Sem03-Tar01-tarea_respuesta1.csv", sep=',')
respuesta_1

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,nhogar,0,0.0,0,0.00000,7,object
1,miembro,0,0.0,0,0.00000,19,int64
2,comuna,0,0.0,0,0.00000,15,object
3,dominio,0,0.0,0,0.00000,2,object
4,edad,0,0.0,0,0.00000,5,category
5,sexo,0,0.0,0,0.00000,2,object
6,parentesco_jefe,0,0.0,0,0.00000,9,object
7,situacion_conyugal,0,0.0,0,0.00000,7,object
8,num_miembro_padre,0,0.0,0,0.00000,9,object
9,num_miembro_madre,0,0.0,0,0.00000,11,object
10,estado_ocupacional,0,0.0,0,0.00000,3,object
11,cat_ocupacional,0,0.0,0,0.00000,5,object
12,calidad_ingresos_lab,0,0.0,0,0.00000,4,object
13,ingreso_total_lab,0,0.0,0,0.00000,6,category
14,calidad_ingresos_no_lab,0,0.0,0,0.00000,4,object
15,ingreso_total_no_lab,0,0.0,0,0.00000,2,category
16,calidad_ingresos_totales,0,0.0,0,0.00000,4,object
17,ingresos_totales,0,0.0,4290,0.29979,678,int64
18,calidad_ingresos_familiares,0,0.0,0,0.00000,3,object
19,ingresos_familiares,0,0.0,0,0.00000,8,category
20,ingreso_per_capita_familiar,0,0.0,0,0.00000,10,category
21,estado_educativo,0,0.0,0,0.00000,3,object
22,sector_educativo,0,0.0,0,0.00000,4,object
23,nivel_actual,0,0.0,0,0.00000,14,object
24,nivel_max_educativo,0,0.0,0,0.00000,8,object
25,a帽os_escolaridad,0,0.0,0,0.00000,6,category
26,lugar_nacimiento,0,0.0,0,0.00000,7,object
27,afiliacion_salud,0,0.0,0,0.00000,5,object
28,cantidad_hijos_nac_vivos,0,0.0,0,0.00000,14,object

In [82]:
status(df_data_prep)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,nhogar,0,0.000000,0,0.000000,7,object
1,miembro,0,0.000000,0,0.000000,19,object
2,comuna,0,0.000000,0,0.000000,15,object
3,dominio,0,0.000000,0,0.000000,2,object
4,edad,0,0.000000,128,0.008945,101,int64
5,sexo,0,0.000000,0,0.000000,2,object
6,parentesco_jefe,0,0.000000,0,0.000000,9,object
7,situacion_conyugal,0,0.000000,0,0.000000,7,object
8,num_miembro_padre,0,0.000000,0,0.000000,9,object
9,num_miembro_madre,0,0.000000,0,0.000000,11,object
10,estado_ocupacional,0,0.000000,0,0.000000,3,object
11,cat_ocupacional,0,0.000000,0,0.000000,5,object
12,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
13,ingreso_total_lab,0,0.000000,6957,0.486164,440,int64
14,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
15,ingreso_total_no_lab,0,0.000000,10239,0.715514,375,int64
16,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
17,ingresos_totales,0,0.000000,4290,0.299790,678,int64
18,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
19,ingresos_familiares,0,0.000000,76,0.005311,960,int64
20,ingreso_per_capita_familiar,0,0.000000,76,0.005311,1257,int64
21,estado_educativo,0,0.000000,0,0.000000,3,object
22,sector_educativo,0,0.000000,0,0.000000,4,object
23,nivel_actual,0,0.000000,0,0.000000,14,object
24,nivel_max_educativo,0,0.000000,0,0.000000,8,object
25,a帽os_escolaridad,62,0.004333,1225,0.085604,20,Int32
26,lugar_nacimiento,0,0.000000,0,0.000000,7,object
27,afiliacion_salud,0,0.000000,0,0.000000,5,object
28,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object
29,ingresos_familiares_cat,0,0.000000,0,0.000000,8,category
30,ingreso_per_capita_familiar_cat,0,0.000000,0,0.000000,10,category
31,ingreso_total_lab_cat,0,0.000000,0,0.000000,6,category
32,ingreso_total_no_lab_cat,0,0.000000,0,0.000000,2,category
33,edad_cat,0,0.000000,0,0.000000,5,category
34,a帽os_escolaridad_cat,0,0.000000,0,0.000000,6,category

---
##  Consigna 2

**_5) One hot encoding_**

- Hagan `data_ohe = pd.get_dummies(data)`
- Guardar `data_ohe` en un archivo pickle como vimos en clase con el nombre `categories_ohe.pickle`.
- Carguen el dataset `new_data = pd.read_csv("new_data.csv", sep=',')`
- A `new_data` hagan un reindex con las columnas que guardaron el archivo pickle y para los valores `NaN` rellenenlos con un `0`.

In [83]:
print(f"Tamanio Data Prep: {str(df_data_prep.shape)}")

Tamanio Data Prep: (14310, 35)

In [84]:
df_data_prep_ohe = pd.get_dummies(df_data_prep, dtype=int)
print(f"Tamanio Data Prep: {str(df_data_prep_ohe.shape)}")
df_data_prep_ohe.head()

Tamanio Data Prep: (14310, 203)

,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,a帽os_escolaridad,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,miembro_1,miembro_10,miembro_11,miembro_12,miembro_13,miembro_14,miembro_15,miembro_16,miembro_17,miembro_18,miembro_19,miembro_2,miembro_3,miembro_4,miembro_5,miembro_6,miembro_7,miembro_8,miembro_9,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,comuna_14,comuna_15,comuna_2,comuna_3,comuna_4,comuna_5,comuna_6,comuna_7,comuna_8,comuna_9,dominio_Resto de la Ciudad,dominio_Villas de emergencia,sexo_Mujer,sexo_Varon,parentesco_jefe_Conyugue o pareja,parentesco_jefe_Hijo/a - Hijastro/a,parentesco_jefe_Jefe,parentesco_jefe_Nieto/a,parentesco_jefe_Otro familiar,parentesco_jefe_Otro no familiar,parentesco_jefe_Padre/Madre/Suegro/a,parentesco_jefe_Servicio domestico y sus familiares,parentesco_jefe_Yerno/nuera,situacion_conyugal_Casado/a,situacion_conyugal_Divorciado/a,situacion_conyugal_No corresponde,situacion_conyugal_Separado/a de uni贸n o matrimonio,situacion_conyugal_Soltero/a,situacion_conyugal_Unido/a,situacion_conyugal_Viudo/a,num_miembro_padre_1,num_miembro_padre_2,num_miembro_padre_3,num_miembro_padre_4,num_miembro_padre_5,num_miembro_padre_6,num_miembro_padre_7,num_miembro_padre_No corresponde,num_miembro_padre_Padre no vive en el hogar,num_miembro_madre_1,num_miembro_madre_15,num_miembro_madre_2,num_miembro_madre_3,num_miembro_madre_4,num_miembro_madre_5,num_miembro_madre_6,num_miembro_madre_7,num_miembro_madre_9,num_miembro_madre_Madre no vive en el hogar,num_miembro_madre_No corresponde,estado_ocupacional_Desocupado,estado_ocupacional_Inactivo,estado_ocupacional_Ocupado,cat_ocupacional_Asalariado,cat_ocupacional_No corresponde,cat_ocupacional_Patron/empleador,cat_ocupacional_Trabajador familiar,cat_ocupacional_Trabajador por cuenta propia,calidad_ingresos_lab_No corresponde,calidad_ingresos_lab_No tuvo ingresos,calidad_ingresos_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_lab_Tuvo ingresos y declara monto,calidad_ingresos_no_lab_No corresponde,calidad_ingresos_no_lab_No tuvo ingresos,calidad_ingresos_no_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_no_lab_Tuvo ingresos y declara monto,calidad_ingresos_totales_No corresponde,calidad_ingresos_totales_No tuvo ingresos,calidad_ingresos_totales_Tuvo ingresos pero no declara monto,calidad_ingresos_totales_Tuvo ingresos y declara monto,calidad_ingresos_familiares_No tuvo ingresos,calidad_ingresos_familiares_Tuvo ingresos pero no declara monto,calidad_ingresos_familiares_Tuvo ingresos y declara monto,estado_educativo_Asiste,estado_educativo_No asiste pero asisti贸,estado_educativo_Nunca asistio,sector_educativo_Estatal/publico,sector_educativo_No corresponde,sector_educativo_Privado no religioso,sector_educativo_Privado religioso,nivel_actual_Jardin maternal,nivel_actual_No corresponde,nivel_actual_Otras escuelas especiales,nivel_actual_Postgrado,nivel_actual_Primario adultos,nivel_actual_Primario comun,nivel_actual_Primario especial,nivel_actual_Sala de 3,nivel_actual_Sala de 4,nivel_actual_Sala de 5,nivel_actual_Secundario/medio adultos,nivel_actual_Secundario/medio comun,nivel_actual_Terciario/superior no universitario,nivel_actual_Universitario,nivel_max_educativo_EGB (1掳 a 9掳 a帽o),nivel_max_educativo_No corresponde,nivel_max_educativo_Otras escuelas especiales,nivel_max_educativo_Primario comun,nivel_max_educativo_Primario especial,nivel_max_educativo_Sala de 5,nivel_max_educativo_Secundario/medio comun,nivel_max_educativo_desconocido,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,lugar_nacimiento_PBA sin especificar,lugar_nacimiento_Pais limitrofe,lugar_nacimiento_Pais no limitrofe,lugar_nacimiento_Partido GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contrataci贸n voluntaria,afiliacion_salud_Solo prepaga o mutual via OS,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_10,cantidad_hijos_nac_vivos_11,cantidad_hijos_nac_vivos_12,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde,"ingresos_familiares_cat_(-0.001, 20800.0]","ingresos_familiares_cat_(20800.0, 30000.0]","ingresos_familiares_cat_(30000.0, 42000.0]","ingresos_familiares_cat_(42000.0, 54000.0]","ingresos_familiares_cat_(54000.0, 70000.0]","ingresos_familiares_cat_(70000.0, 90000.0]","ingresos_familiares_cat_(90000.0, 124000.0]","ingresos_familiares_cat_(124000.0, 1000000.0]","ingreso_per_capita_familiar_cat_(-0.001, 5400.0]","ingreso_per_capita_familiar_cat_(5400.0, 8700.0]","ingreso_per_capita_familiar_cat_(8700.0, 12000.0]","ingreso_per_capita_familiar_cat_(12000.0, 15016.0]","ingreso_per_capita_familiar_cat_(15016.0, 19900.0]","ingreso_per_capita_familiar_cat_(19900.0, 24000.0]","ingreso_per_capita_familiar_cat_(24000.0, 30000.0]","ingreso_per_capita_familiar_cat_(30000.0, 38300.0]","ingreso_per_capita_familiar_cat_(38300.0, 52340.0]","ingreso_per_capita_familiar_cat_(52340.0, 1000000.0]","ingreso_total_lab_cat_(-0.001, 2500.0]","ingreso_total_lab_cat_(2500.0, 15000.0]","ingreso_total_lab_cat_(15000.0, 25000.0]","ingreso_total_lab_cat_(25000.0, 37000.0]","ingreso_total_lab_cat_(37000.0, 56000.0]","ingreso_total_lab_cat_(56000.0, 1000000.0]","ingreso_total_no_lab_cat_(-0.001, 4000.0]","ingreso_total_no_lab_cat_(4000.0, 500000.0]","edad_cat_(-0.1, 20.0]","edad_cat_(20.0, 40.0]","edad_cat_(40.0, 60.0]","edad_cat_(60.0, 80.0]","edad_cat_(80.0, 100.0]","a帽os_escolaridad_cat_(-0.001, 7.0]","a帽os_escolaridad_cat_(7.0, 11.0]","a帽os_escolaridad_cat_(11.0, 12.0]","a帽os_escolaridad_cat_(12.0, 16.0]","a帽os_escolaridad_cat_(16.0, 19.0]",a帽os_escolaridad_cat_desconocido
0,18,0,6000,6000,18000,9000,12,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0
1,18,0,12000,12000,18000,9000,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0
2,18,0,0,0,100000,33333,12,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0
3,50,70000,30000,100000,100000,33333,17,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
4,17,0,0,0,100000,33333,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0

In [88]:
import pickle

with open('artifacts/categories_ohe.pickle', 'wb') as handle:
    pickle.dump(df_data_prep_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [100]:
print(f"Tipo de dato: {type(df_data_prep_ohe.columns)}")
print(f"Tamanio: {str(df_data_prep_ohe.columns.shape)}")

Tipo de dato: <class 'pandas.core.indexes.base.Index'>
Tamanio: (203,)

In [89]:
df_new_data = pd.read_csv("data/Sem03-Tar01-02-new_data.csv", sep=',')
print(f"Tamanio: {str(df_new_data.shape)}")
df_new_data.head()

Tamanio: (5, 31)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,estado_ocupacional,cat_ocupacional,calidad_ingresos_lab,ingreso_total_lab,calidad_ingresos_no_lab,ingreso_total_no_lab,calidad_ingresos_totales,ingresos_totales,calidad_ingresos_familiares,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,a帽os_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
0,21,1,1,3,Resto de la Ciudad,20,Varon,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Desocupado,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,4000,Tuvo ingresos y declara monto,4000,Tuvo ingresos y declara monto,4000,4000,Asiste,Privado no religioso,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,NaN,No corresponde
1,22,1,1,12,Resto de la Ciudad,20,Varon,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,22000,Tuvo ingresos y declara monto,22000,Tuvo ingresos y declara monto,22000,22000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,NaN,No corresponde
2,23,1,1,14,Resto de la Ciudad,20,Varon,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Ocupado,Asalariado,Tuvo ingresos y declara monto,10000,Tuvo ingresos y declara monto,15000,Tuvo ingresos y declara monto,25000,Tuvo ingresos pero no declara monto,55000,27500,Asiste,Privado no religioso,Universitario,Otras escuelas especiales,13,CABA,Otros,NaN,No corresponde
3,23,1,2,14,Resto de la Ciudad,21,Mujer,Otro familiar,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Ocupado,Trabajador por cuenta propia,Tuvo ingresos pero no declara monto,30000,No tuvo ingresos,0,Tuvo ingresos pero no declara monto,30000,Tuvo ingresos pero no declara monto,55000,27500,Asiste,Privado religioso,Universitario,Otras escuelas especiales,16,CABA,Solo plan de medicina prepaga por contrataci贸n voluntaria,No,No corresponde
4,24,1,1,7,Resto de la Ciudad,20,Varon,Jefe,Soltero/a,Padre no vive en el hogar,Madre no vive en el hogar,Inactivo,No corresponde,No tuvo ingresos,0,Tuvo ingresos y declara monto,20000,Tuvo ingresos y declara monto,20000,Tuvo ingresos y declara monto,20000,20000,Asiste,Privado no religioso,Universitario,Otras escuelas especiales,14,Otra provincia,Solo plan de medicina prepaga por contrataci贸n voluntaria,NaN,No corresponde

In [101]:
import pickle

with open('artifacts/categories_ohe.pickle', 'rb') as handle:
    categories_ohe_load = pickle.load(handle)
    
print(f"Tipo de dato: {type(categories_ohe_load)}")
print(f"Tamanio: {str(categories_ohe_load.shape)}")
categories_ohe_load

Tipo de dato: <class 'pandas.core.indexes.base.Index'>
Tamanio: (203,)

Index(['edad', 'ingreso_total_lab', 'ingreso_total_no_lab', 'ingresos_totales',
       'ingresos_familiares', 'ingreso_per_capita_familiar',
       'a帽os_escolaridad', 'nhogar_1', 'nhogar_2', 'nhogar_3',
       ...
       'edad_cat_(20.0, 40.0]', 'edad_cat_(40.0, 60.0]',
       'edad_cat_(60.0, 80.0]', 'edad_cat_(80.0, 100.0]',
       'a帽os_escolaridad_cat_(-0.001, 7.0]',
       'a帽os_escolaridad_cat_(7.0, 11.0]', 'a帽os_escolaridad_cat_(11.0, 12.0]',
       'a帽os_escolaridad_cat_(12.0, 16.0]',
       'a帽os_escolaridad_cat_(16.0, 19.0]',
       'a帽os_escolaridad_cat_desconocido'],
      dtype='object', length=203)

In [97]:
print(f"Tamanio: {str(pd.get_dummies(df_new_data).reindex(columns = categories_ohe_load).shape)}")
pd.get_dummies(df_new_data).reindex(columns = categories_ohe_load)

Tamanio: (5, 203)

,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,a帽os_escolaridad,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,miembro_1,miembro_10,miembro_11,miembro_12,miembro_13,miembro_14,miembro_15,miembro_16,miembro_17,miembro_18,miembro_19,miembro_2,miembro_3,miembro_4,miembro_5,miembro_6,miembro_7,miembro_8,miembro_9,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,comuna_14,comuna_15,comuna_2,comuna_3,comuna_4,comuna_5,comuna_6,comuna_7,comuna_8,comuna_9,dominio_Resto de la Ciudad,dominio_Villas de emergencia,sexo_Mujer,sexo_Varon,parentesco_jefe_Conyugue o pareja,parentesco_jefe_Hijo/a - Hijastro/a,parentesco_jefe_Jefe,parentesco_jefe_Nieto/a,parentesco_jefe_Otro familiar,parentesco_jefe_Otro no familiar,parentesco_jefe_Padre/Madre/Suegro/a,parentesco_jefe_Servicio domestico y sus familiares,parentesco_jefe_Yerno/nuera,situacion_conyugal_Casado/a,situacion_conyugal_Divorciado/a,situacion_conyugal_No corresponde,situacion_conyugal_Separado/a de uni贸n o matrimonio,situacion_conyugal_Soltero/a,situacion_conyugal_Unido/a,situacion_conyugal_Viudo/a,num_miembro_padre_1,num_miembro_padre_2,num_miembro_padre_3,num_miembro_padre_4,num_miembro_padre_5,num_miembro_padre_6,num_miembro_padre_7,num_miembro_padre_No corresponde,num_miembro_padre_Padre no vive en el hogar,num_miembro_madre_1,num_miembro_madre_15,num_miembro_madre_2,num_miembro_madre_3,num_miembro_madre_4,num_miembro_madre_5,num_miembro_madre_6,num_miembro_madre_7,num_miembro_madre_9,num_miembro_madre_Madre no vive en el hogar,num_miembro_madre_No corresponde,estado_ocupacional_Desocupado,estado_ocupacional_Inactivo,estado_ocupacional_Ocupado,cat_ocupacional_Asalariado,cat_ocupacional_No corresponde,cat_ocupacional_Patron/empleador,cat_ocupacional_Trabajador familiar,cat_ocupacional_Trabajador por cuenta propia,calidad_ingresos_lab_No corresponde,calidad_ingresos_lab_No tuvo ingresos,calidad_ingresos_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_lab_Tuvo ingresos y declara monto,calidad_ingresos_no_lab_No corresponde,calidad_ingresos_no_lab_No tuvo ingresos,calidad_ingresos_no_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_no_lab_Tuvo ingresos y declara monto,calidad_ingresos_totales_No corresponde,calidad_ingresos_totales_No tuvo ingresos,calidad_ingresos_totales_Tuvo ingresos pero no declara monto,calidad_ingresos_totales_Tuvo ingresos y declara monto,calidad_ingresos_familiares_No tuvo ingresos,calidad_ingresos_familiares_Tuvo ingresos pero no declara monto,calidad_ingresos_familiares_Tuvo ingresos y declara monto,estado_educativo_Asiste,estado_educativo_No asiste pero asisti贸,estado_educativo_Nunca asistio,sector_educativo_Estatal/publico,sector_educativo_No corresponde,sector_educativo_Privado no religioso,sector_educativo_Privado religioso,nivel_actual_Jardin maternal,nivel_actual_No corresponde,nivel_actual_Otras escuelas especiales,nivel_actual_Postgrado,nivel_actual_Primario adultos,nivel_actual_Primario comun,nivel_actual_Primario especial,nivel_actual_Sala de 3,nivel_actual_Sala de 4,nivel_actual_Sala de 5,nivel_actual_Secundario/medio adultos,nivel_actual_Secundario/medio comun,nivel_actual_Terciario/superior no universitario,nivel_actual_Universitario,nivel_max_educativo_EGB (1掳 a 9掳 a帽o),nivel_max_educativo_No corresponde,nivel_max_educativo_Otras escuelas especiales,nivel_max_educativo_Primario comun,nivel_max_educativo_Primario especial,nivel_max_educativo_Sala de 5,nivel_max_educativo_Secundario/medio comun,nivel_max_educativo_desconocido,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,lugar_nacimiento_PBA sin especificar,lugar_nacimiento_Pais limitrofe,lugar_nacimiento_Pais no limitrofe,lugar_nacimiento_Partido GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contrataci贸n voluntaria,afiliacion_salud_Solo prepaga o mutual via OS,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_10,cantidad_hijos_nac_vivos_11,cantidad_hijos_nac_vivos_12,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde,"ingresos_familiares_cat_(-0.001, 20800.0]","ingresos_familiares_cat_(20800.0, 30000.0]","ingresos_familiares_cat_(30000.0, 42000.0]","ingresos_familiares_cat_(42000.0, 54000.0]","ingresos_familiares_cat_(54000.0, 70000.0]","ingresos_familiares_cat_(70000.0, 90000.0]","ingresos_familiares_cat_(90000.0, 124000.0]","ingresos_familiares_cat_(124000.0, 1000000.0]","ingreso_per_capita_familiar_cat_(-0.001, 5400.0]","ingreso_per_capita_familiar_cat_(5400.0, 8700.0]","ingreso_per_capita_familiar_cat_(8700.0, 12000.0]","ingreso_per_capita_familiar_cat_(12000.0, 15016.0]","ingreso_per_capita_familiar_cat_(15016.0, 19900.0]","ingreso_per_capita_familiar_cat_(19900.0, 24000.0]","ingreso_per_capita_familiar_cat_(24000.0, 30000.0]","ingreso_per_capita_familiar_cat_(30000.0, 38300.0]","ingreso_per_capita_familiar_cat_(38300.0, 52340.0]","ingreso_per_capita_familiar_cat_(52340.0, 1000000.0]","ingreso_total_lab_cat_(-0.001, 2500.0]","ingreso_total_lab_cat_(2500.0, 15000.0]","ingreso_total_lab_cat_(15000.0, 25000.0]","ingreso_total_lab_cat_(25000.0, 37000.0]","ingreso_total_lab_cat_(37000.0, 56000.0]","ingreso_total_lab_cat_(56000.0, 1000000.0]","ingreso_total_no_lab_cat_(-0.001, 4000.0]","ingreso_total_no_lab_cat_(4000.0, 500000.0]","edad_cat_(-0.1, 20.0]","edad_cat_(20.0, 40.0]","edad_cat_(40.0, 60.0]","edad_cat_(60.0, 80.0]","edad_cat_(80.0, 100.0]","a帽os_escolaridad_cat_(-0.001, 7.0]","a帽os_escolaridad_cat_(7.0, 11.0]","a帽os_escolaridad_cat_(11.0, 12.0]","a帽os_escolaridad_cat_(12.0, 16.0]","a帽os_escolaridad_cat_(16.0, 19.0]",a帽os_escolaridad_cat_desconocido
0,20,0,4000,4000,4000,4000,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,False,False,False,True,NaN,NaN,False,NaN,True,False,False,NaN,False,NaN,True,NaN,NaN,False,True,NaN,False,True,True,NaN,NaN,False,NaN,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,False,True,False,NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,0,22000,22000,22000,22000,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,False,False,True,NaN,NaN,False,NaN,True,False,False,NaN,False,NaN,True,NaN,NaN,False,True,NaN,False,True,True,NaN,NaN,True,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,10000,15000,25000,55000,27500,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,True,True,False,NaN,NaN,False,NaN,False,False,True,NaN,False,NaN,True,NaN,NaN,False,True,NaN,True,False,True,NaN,NaN,False,NaN,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,True,False,False,NaN,NaN,NaN,NaN,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21,30000,0,30000,55000,27500,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,False,NaN,NaN,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,True,False,False,NaN,NaN,True,NaN,False,True,False,NaN,True,NaN,False,NaN,NaN,True,False,NaN,True,False,True,NaN,NaN,False,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,True,False,False,NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,0,20000,20000,20000,20000,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,True,False,False,True,NaN,NaN,False,NaN,True,False,False,NaN,False,NaN,True,NaN,NaN,False,True,NaN,False,True,True,NaN,NaN,False,NaN,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,False,True,False,NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_data_prep_ohe_2 = pd.get_dummies(df_new_data).reindex(columns = categories_ohe_load).fillna('0')
df_data_prep_ohe_2.head()

,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,a帽os_escolaridad,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,miembro_1,miembro_10,miembro_11,miembro_12,miembro_13,miembro_14,miembro_15,miembro_16,miembro_17,miembro_18,miembro_19,miembro_2,miembro_3,miembro_4,miembro_5,miembro_6,miembro_7,miembro_8,miembro_9,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,comuna_14,comuna_15,comuna_2,comuna_3,comuna_4,comuna_5,comuna_6,comuna_7,comuna_8,comuna_9,dominio_Resto de la Ciudad,dominio_Villas de emergencia,sexo_Mujer,sexo_Varon,parentesco_jefe_Conyugue o pareja,parentesco_jefe_Hijo/a - Hijastro/a,parentesco_jefe_Jefe,parentesco_jefe_Nieto/a,parentesco_jefe_Otro familiar,parentesco_jefe_Otro no familiar,parentesco_jefe_Padre/Madre/Suegro/a,parentesco_jefe_Servicio domestico y sus familiares,parentesco_jefe_Yerno/nuera,situacion_conyugal_Casado/a,situacion_conyugal_Divorciado/a,situacion_conyugal_No corresponde,situacion_conyugal_Separado/a de uni贸n o matrimonio,situacion_conyugal_Soltero/a,situacion_conyugal_Unido/a,situacion_conyugal_Viudo/a,num_miembro_padre_1,num_miembro_padre_2,num_miembro_padre_3,num_miembro_padre_4,num_miembro_padre_5,num_miembro_padre_6,num_miembro_padre_7,num_miembro_padre_No corresponde,num_miembro_padre_Padre no vive en el hogar,num_miembro_madre_1,num_miembro_madre_15,num_miembro_madre_2,num_miembro_madre_3,num_miembro_madre_4,num_miembro_madre_5,num_miembro_madre_6,num_miembro_madre_7,num_miembro_madre_9,num_miembro_madre_Madre no vive en el hogar,num_miembro_madre_No corresponde,estado_ocupacional_Desocupado,estado_ocupacional_Inactivo,estado_ocupacional_Ocupado,cat_ocupacional_Asalariado,cat_ocupacional_No corresponde,cat_ocupacional_Patron/empleador,cat_ocupacional_Trabajador familiar,cat_ocupacional_Trabajador por cuenta propia,calidad_ingresos_lab_No corresponde,calidad_ingresos_lab_No tuvo ingresos,calidad_ingresos_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_lab_Tuvo ingresos y declara monto,calidad_ingresos_no_lab_No corresponde,calidad_ingresos_no_lab_No tuvo ingresos,calidad_ingresos_no_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_no_lab_Tuvo ingresos y declara monto,calidad_ingresos_totales_No corresponde,calidad_ingresos_totales_No tuvo ingresos,calidad_ingresos_totales_Tuvo ingresos pero no declara monto,calidad_ingresos_totales_Tuvo ingresos y declara monto,calidad_ingresos_familiares_No tuvo ingresos,calidad_ingresos_familiares_Tuvo ingresos pero no declara monto,calidad_ingresos_familiares_Tuvo ingresos y declara monto,estado_educativo_Asiste,estado_educativo_No asiste pero asisti贸,estado_educativo_Nunca asistio,sector_educativo_Estatal/publico,sector_educativo_No corresponde,sector_educativo_Privado no religioso,sector_educativo_Privado religioso,nivel_actual_Jardin maternal,nivel_actual_No corresponde,nivel_actual_Otras escuelas especiales,nivel_actual_Postgrado,nivel_actual_Primario adultos,nivel_actual_Primario comun,nivel_actual_Primario especial,nivel_actual_Sala de 3,nivel_actual_Sala de 4,nivel_actual_Sala de 5,nivel_actual_Secundario/medio adultos,nivel_actual_Secundario/medio comun,nivel_actual_Terciario/superior no universitario,nivel_actual_Universitario,nivel_max_educativo_EGB (1掳 a 9掳 a帽o),nivel_max_educativo_No corresponde,nivel_max_educativo_Otras escuelas especiales,nivel_max_educativo_Primario comun,nivel_max_educativo_Primario especial,nivel_max_educativo_Sala de 5,nivel_max_educativo_Secundario/medio comun,nivel_max_educativo_desconocido,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,lugar_nacimiento_PBA sin especificar,lugar_nacimiento_Pais limitrofe,lugar_nacimiento_Pais no limitrofe,lugar_nacimiento_Partido GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contrataci贸n voluntaria,afiliacion_salud_Solo prepaga o mutual via OS,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_10,cantidad_hijos_nac_vivos_11,cantidad_hijos_nac_vivos_12,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde,"ingresos_familiares_cat_(-0.001, 20800.0]","ingresos_familiares_cat_(20800.0, 30000.0]","ingresos_familiares_cat_(30000.0, 42000.0]","ingresos_familiares_cat_(42000.0, 54000.0]","ingresos_familiares_cat_(54000.0, 70000.0]","ingresos_familiares_cat_(70000.0, 90000.0]","ingresos_familiares_cat_(90000.0, 124000.0]","ingresos_familiares_cat_(124000.0, 1000000.0]","ingreso_per_capita_familiar_cat_(-0.001, 5400.0]","ingreso_per_capita_familiar_cat_(5400.0, 8700.0]","ingreso_per_capita_familiar_cat_(8700.0, 12000.0]","ingreso_per_capita_familiar_cat_(12000.0, 15016.0]","ingreso_per_capita_familiar_cat_(15016.0, 19900.0]","ingreso_per_capita_familiar_cat_(19900.0, 24000.0]","ingreso_per_capita_familiar_cat_(24000.0, 30000.0]","ingreso_per_capita_familiar_cat_(30000.0, 38300.0]","ingreso_per_capita_familiar_cat_(38300.0, 52340.0]","ingreso_per_capita_familiar_cat_(52340.0, 1000000.0]","ingreso_total_lab_cat_(-0.001, 2500.0]","ingreso_total_lab_cat_(2500.0, 15000.0]","ingreso_total_lab_cat_(15000.0, 25000.0]","ingreso_total_lab_cat_(25000.0, 37000.0]","ingreso_total_lab_cat_(37000.0, 56000.0]","ingreso_total_lab_cat_(56000.0, 1000000.0]","ingreso_total_no_lab_cat_(-0.001, 4000.0]","ingreso_total_no_lab_cat_(4000.0, 500000.0]","edad_cat_(-0.1, 20.0]","edad_cat_(20.0, 40.0]","edad_cat_(40.0, 60.0]","edad_cat_(60.0, 80.0]","edad_cat_(80.0, 100.0]","a帽os_escolaridad_cat_(-0.001, 7.0]","a帽os_escolaridad_cat_(7.0, 11.0]","a帽os_escolaridad_cat_(11.0, 12.0]","a帽os_escolaridad_cat_(12.0, 16.0]","a帽os_escolaridad_cat_(16.0, 19.0]",a帽os_escolaridad_cat_desconocido
0,20,0,4000,4000,4000,4000,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,False,True,0,0,True,0,False,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True,0,True,False,False,False,True,0,0,False,0,True,False,False,0,False,0,True,0,0,False,True,0,False,True,True,0,0,False,0,True,False,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,True,0,0,0,0,0,False,True,False,0,0,0,0,False,False,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,20,0,22000,22000,22000,22000,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,False,True,0,0,True,0,False,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True,0,False,True,False,False,True,0,0,False,0,True,False,False,0,False,0,True,0,0,False,True,0,False,True,True,0,0,True,0,False,False,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,True,0,0,0,0,0,False,False,True,0,0,0,0,False,True,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,20,10000,15000,25000,55000,27500,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,False,True,0,0,True,0,False,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True,0,False,False,True,True,False,0,0,False,0,False,False,True,0,False,0,True,0,0,False,True,0,True,False,True,0,0,False,0,True,False,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,True,0,0,0,0,0,True,False,False,0,0,0,0,True,False,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,21,30000,0,30000,55000,27500,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,True,False,0,0,False,0,True,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True,0,False,False,True,False,False,0,0,True,0,False,True,False,0,True,0,False,0,0,True,False,0,True,False,True,0,0,False,0,False,True,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,True,0,0,0,0,0,True,False,False,0,0,0,0,False,False,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,20,0,20000,20000,20000,20000,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,False,True,0,0,True,0,False,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True,0,False,True,False,False,True,0,0,False,0,True,False,False,0,False,0,True,0,0,False,True,0,False,True,True,0,0,False,0,True,False,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,True,0,0,0,0,0,False,True,False,0,0,0,0,False,False,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,True,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

##  Respuesta esperada 2

In [103]:
respuesta_2 = pd.read_csv("data/Sem03-Tar01-02-tarea_respuesta2.csv", sep=',') 
respuesta_2

,miembro,ingresos_totales,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,comuna_14,comuna_15,comuna_2,comuna_3,comuna_4,comuna_5,comuna_6,comuna_7,comuna_8,comuna_9,dominio_Resto de la Ciudad,dominio_Villas de emergencia,"edad_(-0.1, 20.0]","edad_(20.0, 40.0]","edad_(40.0, 60.0]","edad_(60.0, 80.0]","edad_(80.0, 100.0]",sexo_Mujer,sexo_Varon,parentesco_jefe_Conyugue o pareja,parentesco_jefe_Hijo/a - Hijastro/a,parentesco_jefe_Jefe,parentesco_jefe_Nieto/a,parentesco_jefe_Otro familiar,parentesco_jefe_Otro no familiar,parentesco_jefe_Padre/Madre/Suegro/a,parentesco_jefe_Servicio domestico y sus familiares,parentesco_jefe_Yerno/nuera,situacion_conyugal_Casado/a,situacion_conyugal_Divorciado/a,situacion_conyugal_No corresponde,situacion_conyugal_Separado/a de uni贸n o matrimonio,situacion_conyugal_Soltero/a,situacion_conyugal_Unido/a,situacion_conyugal_Viudo/a,num_miembro_padre_1,num_miembro_padre_2,num_miembro_padre_3,num_miembro_padre_4,num_miembro_padre_5,num_miembro_padre_6,num_miembro_padre_7,num_miembro_padre_No corresponde,num_miembro_padre_Padre no vive en el hogar,num_miembro_madre_1,num_miembro_madre_15,num_miembro_madre_2,num_miembro_madre_3,num_miembro_madre_4,num_miembro_madre_5,num_miembro_madre_6,num_miembro_madre_7,num_miembro_madre_9,num_miembro_madre_Madre no vive en el hogar,num_miembro_madre_No corresponde,estado_ocupacional_Desocupado,estado_ocupacional_Inactivo,estado_ocupacional_Ocupado,cat_ocupacional_Asalariado,cat_ocupacional_No corresponde,cat_ocupacional_Patron/empleador,cat_ocupacional_Trabajador familiar,cat_ocupacional_Trabajador por cuenta propia,calidad_ingresos_lab_No corresponde,calidad_ingresos_lab_No tuvo ingresos,calidad_ingresos_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_lab_Tuvo ingresos y declara monto,"ingreso_total_lab_(-0.001, 2500.0]","ingreso_total_lab_(2500.0, 15000.0]","ingreso_total_lab_(15000.0, 25000.0]","ingreso_total_lab_(25000.0, 37000.0]","ingreso_total_lab_(37000.0, 56000.0]","ingreso_total_lab_(56000.0, 1000000.0]",calidad_ingresos_no_lab_No corresponde,calidad_ingresos_no_lab_No tuvo ingresos,calidad_ingresos_no_lab_Tuvo ingresos pero no declara monto,calidad_ingresos_no_lab_Tuvo ingresos y declara monto,"ingreso_total_no_lab_(-0.001, 4000.0]","ingreso_total_no_lab_(4000.0, 500000.0]",calidad_ingresos_totales_No corresponde,calidad_ingresos_totales_No tuvo ingresos,calidad_ingresos_totales_Tuvo ingresos pero no declara monto,calidad_ingresos_totales_Tuvo ingresos y declara monto,calidad_ingresos_familiares_No tuvo ingresos,calidad_ingresos_familiares_Tuvo ingresos pero no declara monto,calidad_ingresos_familiares_Tuvo ingresos y declara monto,"ingresos_familiares_(-0.001, 20800.0]","ingresos_familiares_(20800.0, 30000.0]","ingresos_familiares_(30000.0, 42000.0]","ingresos_familiares_(42000.0, 54000.0]","ingresos_familiares_(54000.0, 70000.0]","ingresos_familiares_(70000.0, 90000.0]","ingresos_familiares_(90000.0, 124000.0]","ingresos_familiares_(124000.0, 1000000.0]","ingreso_per_capita_familiar_(-0.001, 5400.0]","ingreso_per_capita_familiar_(5400.0, 8700.0]","ingreso_per_capita_familiar_(8700.0, 12000.0]","ingreso_per_capita_familiar_(12000.0, 15016.0]","ingreso_per_capita_familiar_(15016.0, 19900.0]","ingreso_per_capita_familiar_(19900.0, 24000.0]","ingreso_per_capita_familiar_(24000.0, 30000.0]","ingreso_per_capita_familiar_(30000.0, 38300.0]","ingreso_per_capita_familiar_(38300.0, 52340.0]","ingreso_per_capita_familiar_(52340.0, 1000000.0]",estado_educativo_Asiste,estado_educativo_No asiste pero asisti贸,estado_educativo_Nunca asistio,sector_educativo_Estatal/publico,sector_educativo_No corresponde,sector_educativo_Privado no religioso,sector_educativo_Privado religioso,nivel_actual_Jardin maternal,nivel_actual_No corresponde,nivel_actual_Otras escuelas especiales,nivel_actual_Postgrado,nivel_actual_Primario adultos,nivel_actual_Primario comun,nivel_actual_Primario especial,nivel_actual_Sala de 3,nivel_actual_Sala de 4,nivel_actual_Sala de 5,nivel_actual_Secundario/medio adultos,nivel_actual_Secundario/medio comun,nivel_actual_Terciario/superior no universitario,nivel_actual_Universitario,nivel_max_educativo_EGB (1掳 a 9掳 a帽o),nivel_max_educativo_No corresponde,nivel_max_educativo_Otras escuelas especiales,nivel_max_educativo_Primario comun,nivel_max_educativo_Primario especial,nivel_max_educativo_Sala de 5,nivel_max_educativo_Secundario/medio comun,nivel_max_educativo_desconocido,"a帽os_escolaridad_(-0.001, 7.0]","a帽os_escolaridad_(7.0, 11.0]","a帽os_escolaridad_(11.0, 12.0]","a帽os_escolaridad_(12.0, 16.0]","a帽os_escolaridad_(16.0, 19.0]",a帽os_escolaridad_desconocido,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,lugar_nacimiento_PBA sin especificar,lugar_nacimiento_Pais limitrofe,lugar_nacimiento_Pais no limitrofe,lugar_nacimiento_Partido GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contrataci贸n voluntaria,afiliacion_salud_Solo prepaga o mutual via OS,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_10,cantidad_hijos_nac_vivos_11,cantidad_hijos_nac_vivos_12,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde
0,1,4000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,0,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1,22000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,1,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0,1,1,0,0.0,0.0,0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0,1,0,0,0.0,0.0,1,0.0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,1,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,1,20000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,1,0,0,1,0.0,0.0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,0.0,0.0,0.0,0,1,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

---
##  Consigna 3

Cargar su notebook y datasets a un repositorio p煤blico personal y compartirlo por Discord.
<br>Consideren usar git lfs para los dataset con extensi贸n csv.

Cargar archivos muy pesados con [Git Large File Storage (LFS)](https://git-lfs.com/).
<br>En este caso va a ser para un modelo con extensi贸n pickle. Pero podr铆a ser un ".csv", ".h5", ".jpg", etc.

```
git pull

git lfs install
git lfs track "*.pickle"
git add .gitattributes

git add limpieza_datos_nulos.pickle
git commit -m "[ADD] Model with filtered data"
git push origin main
```

Hacer un commit de manera convencional

```
git pull

git add .
git commit -m "[Add] Template project"
git push
```

Si quieren escribir con alguna convenci贸n los mensajes de los commits: [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).

or create a new repository on the command line
echo "# edvai-bc-ds-mlops-sem03" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M master
git remote add origin https://github.com/mcarhuasn/edvai-bc-ds-mlops-sem03.git
git push -u origin master

or push an existing repository from the command line
git remote add origin https://github.com/mcarhuasn/edvai-bc-ds-mlops-sem03.git
git branch -M master
git push -u origin master